:root {
    --headerToolbarHeight: 44px;
    --colorPanelBackground: rgb(26, 26, 26, 0.7);
    --colorPanelBorder: #5F5F5F;
    --colorPageBackground: #1b1b1b;
    --colorButtonBackground: #1a1a1a;
    --colorButtonBorder: #5F5F5F;
    --colorButtonBackgroundActive: #ca8e01;
    --colorTextDefault: #f1f1f1;
    --colorTextLabel: #c1c1c1;
    --colorTextHighlight: #ffffff;
    --colorTextLink: #f3ba32;
    --colorTextLinkHover: #ffe600;
    --colorTitleTop: #ffe600;
    --colorTitleBottom: #f38f32;
}

body {
    color: var(--colorTextDefault);
    background-color: var(--colorPageBackground);
    background-image: url("/assets/background.jpg");
    background-size: cover;
}

.ember-application {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.header-toolbar {
    width: 100%;
    height: var(--headerToolbarHeight);
    padding: 2px 10px 2px 10px;
    background-color: var(--colorPanelBackground);
    border-bottom: 1px solid var(--colorPanelBorder);
    display: flex;
    position: relative;
    z-index: 4;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    justify-content: center;
}

.header-container {
    display: flex;
    width: 100%;
    max-width: 800px;
    justify-content: space-between;
}

.header-github {
    color: var(--colorTextLabel);
    transition: 200ms;
}

.header-github:hover {
    color: var(--colorButtonBorder);
}

.outlet-container {
    height: calc(100% - var(--headerToolbarHeight));
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 40px);
    overflow: auto;
}

.header-turtle-logo {
    width: 100px;
    max-height: 100%;
}

svg:not(:root).svg-inline--fa {
    max-width: 100%;
    max-height: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.title {
    background: linear-gradient(to bottom, var(--colorTitleTop) 0%, var(--colorTitleBottom) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    /* text-shadow: 0px 0px 2px var(--colorTextDefault); */
}

.logo {
    width: 400px;
    margin: 10px auto 10px auto;
    max-width: 100%;
}

.spacer {
    width: 20px;
}