.panel {
    display: flex;
    flex-direction: column;
    margin: 10px auto 10px auto;
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
    background-color: var(--colorPanelBackground);
    border: 1px solid var(--colorPanelBorder);
    border-radius: 1px;
    align-items: center;
}

.full-width {
    width: 100%;
}

.panel-large {
    width: 800px;
    max-width: 100%;
}

.panel-medium {
    width: 700px;
    max-width: 100%;
}

.panel-small {
    width: 400px;
    max-width: 100%;
}

.panel-separator {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 1px;
    height: 1px;
    background-color: var(--colorPanelBorder);
}