@font-face {
    font-family: 'DinProLight';
    src: url("/assets/fonts/DINPro-Light.otf");
}

@font-face {
    font-family: 'FrontinSansCyrillic';
    src: url("/assets/fonts/FontinSans_Cyrillic_R.otf");
}

p {
    color: var(--colorTextDefault);
    font-family: "DinProLight";
}

.highlighted {
    color: var(--colorTextHighlight);
    font-weight: bold;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: "FrontinSansCyrillic";
    color: var(--colorTextHihlight);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    letter-spacing: 1px;
}

.label {
    color: var(--colorTextLabel);
}

.text-padding {
    padding-left: 5px;
    padding-right: 5px;
}

a {
    color: var(--colorTextLink);
    transition: 200ms;
}

a:hover {
    color: var(--colorTextLinkHover);
    text-decoration: none;
}