<div class="panel panel-{{@size}} flex-column">
    {{#if @title}}
    <h3 class="panel-title text-center">{{@title}}</h3>
    {{/if}}
    {{#if @subTitle}}
    <p>{{@subTitle}}</p>
    {{/if}}
    {{#if @title}}
    <div class="panel-separator" />
    {{/if}}
    {{yield}}
</div>