{{page-title "Turtle WoW Census"}}
<div class="header-toolbar">
    <div class="header-container">
        <BsDropdown @tagName="span" as |dd|>
            <dd.button>
                BROWSE CHARTS
                <span class="caret"></span>
                <FaIcon @icon="chart-pie" class="dropdown-icon" />
            </dd.button>
            <dd.menu as |menu|>
                <menu.item>
                    <menu.link-to @route="home">HOME</menu.link-to>
                </menu.item>
                <menu.divider />
                <menu.item>
                    <menu.link-to @route="faction-balance">FACTION BALANCE</menu.link-to>
                </menu.item>
                <menu.item>
                    <menu.link-to @route="race-composition">RACE COMPOSITION</menu.link-to>
                </menu.item>
                <menu.item>
                    <menu.link-to @route="class-composition">CLASS COMPOSITION</menu.link-to>
                </menu.item>
                <menu.item>
                    <menu.link-to @route="level-composition">LEVEL COMPOSITION</menu.link-to>
                </menu.item>
                <menu.item>
                    <menu.link-to @route="guild-members">GUILD SIZES</menu.link-to>
                </menu.item>
            </dd.menu>
        </BsDropdown>
        <Spacer />
        <a href="https://github.com/LeopoldHock/turtle-census">
            <FaIcon class="header-github" @icon="github" @prefix="fab" @size="2x" />
        </a>
    </div>
</div>
<div class="outlet-container">
    {{outlet}}
</div>